@import './theme';

.el-main {
  position: relative;
  min-height: 100vh;
  padding: 60px 0 0;
}

.el-menu--horizontal {
  border-bottom: none;
}

.el-button {
  width: 100%;
  &.el-button--primary, &.el-button--info {
    i {
      color: #fff;
    }
    span {
      color: #fff;
    }
  }
}

p.focus {
  margin: 10px 0;
  font-weight: bold;
  color: $red-color;
}

.captcha-input {
  .el-button {
    width: auto;
    background-color: $theme-color !important;
    span {
      color: #fff;
    }
    &:hover {
      opacity: .9;
    }
    &:active {
      opacity: .8;
    }
    &.disabled {
      background-color: transparent !important;
      cursor: not-allowed;
      &:hover, &:active {
        opacity: 1;
      }
      span {
        color: inherit;
      }
    }
  }
}

.server-error {
  text-align: center;
  font-size: 12px;
  color: $red-color;
}

.login-form {
  @media only screen and (max-width: 767px) {
    width: 300px;
  }
  @media only screen and (min-width: 768px) {
    width: 400px;
  }
  .el-row {
    margin-bottom: 40px;
    text-align: center;
  }
  .el-select {
    @media only screen and (max-width: 767px) {
      width: 100px;
    }
    @media only screen and (min-width: 768px) {
      width: 120px;
    }
    font-size: 12px;
  }
}

.thumb-gallery{
  .swiper-container {
    padding: 20px;
    .swiper-slide {
      transition: box-shadow .3s ease;
      &.active {
        box-shadow: 0 0px 5px 1px rgba(52, 154, 255, .8);
      }
    }
  }
}

.article-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 20px 120px;
  article {
    h1 {
      font-size: 24px;
      margin-bottom: 60px;
    }
    h3 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: normal;
      &:not(:first-of-type) {
        margin-top: 30px;
      }
    }
    h4 {
      margin-bottom: 30px;
    }
    p {
      margin: 10px 0;
      line-height: 24px;
      font-size: 16px;
    }
    span {
      display: block;
      line-height: 24px;
      margin: 5px 0;
      padding-left: 28px;
    }
  }
}
