//主题色
$theme-color: #349aff;

// 背景色
$header-background: #323232;
$light-grey-background: #f8f8f8;
$grey-background: #d3d6d9;

// 字体颜色
$grey-color: #333;
$light-grey-color: #76777b;
$red-color: #FF0036;
$desc-color: #adadbd;

// 边框颜色
$light-border: #e8e8f2;
$grey-border: #626262;
